@import "tailwindcss";

:root {

  --background: #09090b;
  --foreground: #fafafa;

  --card: #111113;
  --card-foreground: #fafafa;

  --popover: #111113;
  --popover-foreground: #fafafa;

  --primary: #fafafa;
  --primary-foreground: #09090b;

  --secondary: #18181b;
  --secondary-foreground: #fafafa;

  --muted: #18181b;
  --muted-foreground: #a1a1aa;

  --accent: #18181b;
  --accent-foreground: #fafafa;

  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;

  --border: #27272a;
  --input: #27272a;
  --ring: #fafafa;

  --radius: 1.5rem;
}

html,
body,
#root {

  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;

  background: var(--background);
  color: var(--foreground);

  font-family:
    Inter,
    system-ui,
    sans-serif;
}

* {
  box-sizing: border-box;
}
